
front/.DS_Store
back/.DS_Store
back/py/.DS_Store
back/py/datasource/infoblocks/.DS_Store
back/py/datasource/infoblocks2/.DS_Store
back/py/datasource/tables/.DS_Store
back/py/datasource/tables2/.DS_Store
.DS_Store
/back/py/pkl_old
